.BmiText {
	font-size: 1.25rem;
	font-weight: bold;
}
  
.BmiValue {
	font-size: 2rem;
	display: inline-block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	background-color: rgb(234, 230, 230);
}
  
.Container {
	margin-top: 1.5rem;
	text-align: center;
}
  
.Box {
	margin: 1rem;
}

.Underweight {
	color: #333;
	font-size: 40px;
}
  
.Normal {
	color: #28a745;
	font-size: 40px;
}
  
.Obese {
	color: #dc3545;
}
  
.Info {
	width: 100%;
	margin: 1rem;
}
  
.HealthyBMI {
	font-weight: bold;
}