.Label {
	display: block;
	margin-top: 1rem;
	margin-bottom: 0.3rem;
	font-size: 16px;
	color: #1E293B;
	font-family: "Euclid Circular B", sans-serif;
	font-weight: 400;
}
  
.Input { 
	width: 100%; 
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	margin-top: 10px;
	font-weight: 500;
}

.suffix {
	color: #afadad;
	position: absolute;
	z-index: 9999;
	right: 20px;;
  	top: 18px;
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #657E79;
	border-radius: 4px;
}
  
.Logo {
	margin: 1rem;
}

.Title {
	font-size: 36px;
	font-weight: 600;
	color: white;
	font-family: "Euclid Circular B", sans-serif;
}
  
.Subtitle {
	font-weight: 400;
	font-size: 16px;
	color: white; 
	font-family: "Euclid Circular B", sans-serif;
}


.stylesGrid{
	display: block;
}

.stylesLeftGrid{
	padding: 40px;
	background-color: #f6f5f3;
}

.stylesRightGrid{
	padding: 26px;
}

@media only screen and (min-width: 1000px) and (max-width:1200px){
	.stylesGrid{
		display: flex;
		justify-content: space-between;
	}
	.stylesLeftGrid{
		width: 35%;
		padding: 35px;
		background-color: #f6f5f3;
	}
	.stylesRightGrid{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 65%;
	}
	.RightContent{
		padding-left: 250px;
	}
}

@media only screen and (min-width: 1200px){
	.stylesGrid{
		display: flex;
		justify-content: space-between;
	}
	.stylesLeftGrid{
		width: 35%;
		padding: 35px;
		background-color: #f6f5f3;
	}
	.stylesRightGrid{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 65%;
	}
	.RightContent{
		padding-left: 100px;
	}
}


.inputInvalid{
	font-size: 0.875rem;
    color: red
}

