.main{
	display: flex; 
	justify-content: space-evenly; 
	padding: 2rem; 
	margin-top: 2rem;
	margin-bottom: 2rem; 
}

.Label {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 20px;
	color: #4a5568;
	font-family: serif,arial;
}
  
.Input { 
	width: 100%; 
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	margin-top: 10px;
	margin-right: 10px;
}


.suffix {
	color: #afadad;
	position: absolute;
	z-index: 9999;
	right: 20px;;
  	top: 18px;
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	margin-top: 2rem;
	background-color: #657E79;
	border-radius: 4px;
}
  
.Logo {
	margin: 1rem;
}
  
.HeaderContent {
	margin: 1rem;
}
  
.Title {
	font-size: 1.875rem;
	font-weight: bold;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
  
.Subtitle {
	font-size: 1.25rem;
	color: white; 
}


.ButtonContainer {
	margin-top: 25px;

}
  
.CalculateButton {
	background-color: #657E79;
	color: #ffffff; 
	padding: 14px 24px;
	border-radius: 4px;
	width: 100%;
}

.stylesGrid{
	display: block;
}

.stylesLeftGrid{
	padding: 35px;
	background-color: #f6f5f3;
}

@media only screen and (min-width: 1000px) and (max-width:1200px){
	.stylesGrid{
		display: flex;
		justify-content: space-between;
	}
	.stylesLeftGrid{
		width: 35%;
		padding: 35px;
		background-color: #f6f5f3;
	}
	.stylesRightGrid{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 65%;
	}
	.RightContent{
		padding-left: 250px;
	}
}

@media only screen and (min-width: 1200px){
	.stylesGrid{
		display: flex;
		justify-content: space-between;
	}
	.stylesLeftGrid{
		width: 35%;
		padding: 35px;
		background-color: #f6f5f3;
	}
	.stylesRightGrid{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 65%;
	}
	.RightContent{
		padding-left: 100px;
	}
}


.inputInvalid{
	font-size: 0.875rem;
    color: red
}